@using ProjectManagementMVC.Controllers
@using ProjectManagement.Shared.Extensions
@model ProjectManagementMVC.ViewModels.RoleEditVM

@{
    if (User.IsInRole("Admin"))
    {
        ViewBag.Title = "Create";
    }
}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Lists.css">
    <link rel="stylesheet" href="~/css/RoleCss/CreateRole.css">
    <link rel="stylesheet" href="~/css/CreateBackground.css">
</head>

<body>
    <div class="container">
        <h2>Create a Role</h2>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="card">
                <div class="card-body">
                    @Html.ValidationSummary(true)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-form-label" })
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-create">Create</button>
                        @Html.ActionLink("Back to List", "List", null, new { @class = "btn btn-back" })
                    </div>
                </div>
            </div>
        }
    </div>
</body>
