@model ProjectManagementMVC.ViewModels.RoleEditVM

@{
    ViewBag.Title = "Edit";
}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Lists.css">
    <link rel="stylesheet" href="~/css/RoleCss/EditRole.css">
</head>

<body>
    <div class="container">
        <h2>Edit Role</h2>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="card">
                <div class="card-body">
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="actions">
                        <button type="submit" class="btn btn-save">Save</button>
                    </div>
                </div>
            </div>

            <div class="form-actions">

                <a href="@Url.Action("List")" class="btn btn-secondary">Back to List</a>
            </div>
        }
    </div>
</body>
