@model ProjectManagementMVC.ViewModels.UserDetailsVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.FirstName)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.LastName)
        </dt>

        

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) ||
    @Html.ActionLink("Back to List", "List")
</p>