@model ProjectManagementMVC.ViewModels.ReportDetailsVM

@{
    ViewBag.Title = "Details";
}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Lists.css">
    <link rel="stylesheet" href="~/css/Background2.css">
</head>

<body class="bg-light">
    <div class="container mt-5">
        <h2>Details</h2>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <dl class="row">
                    <dt class="col-sm-4">Name:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>

                    <dt class="col-sm-4">Description:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Description)</dd>
                </dl>
            </div>
        </div>

        <div class="mt-4">
            @if (Model.ReportProjects != null && Model.ReportProjects.Any())
            {
                <h4>Project Tasks</h4>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Project</th>
                                <th>Tasks</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var reportProject in Model.ReportProjects)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => reportProject.Project.Name)</td>
                                    <td>
                                        @foreach (var task in reportProject.Project.Tasks)
                                        {
                                            <div>@Html.DisplayFor(modelItem => task.Name)</div>
                                        }
                                    </td>
                                    <td>
                                        @foreach (var task in reportProject.Project.Tasks)
                                        {
                                            <div>@Html.DisplayFor(modelItem => task.Status)</div>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <p>No tasks assigned to this project.</p>
            }
        </div>

        <div class="mt-4">
            <p>
                @if (!User.IsInRole("Employee"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
                }
                @Html.ActionLink("Back to List", "List", new { }, new { @class = "btn btn-secondary ml-2" })
            </p>
        </div>
    </div>
</body>
