@model ProjectManagementMVC.ViewModels.TaskDetailsVM

@{
    ViewBag.Title = "Details";
}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Lists.css"> <!-- Assuming this is your custom CSS for lists -->
</head>

<body class="bg-light">
<div class="container mt-5">
    <h2>Task Details</h2>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">Name:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>

            <dt class="col-sm-3">Description:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Description)</dd>

            <dt class="col-sm-3">Status:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Status)</dd>

            <dt class="col-sm-3">Deadline:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Deadline)</dd>

            <dt class="col-sm-3">Assigned User:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.User.Username)</dd>
        </dl>

        <p>
                @if (!User.IsInRole("Employee"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
                }
            <a href="@Url.Action("List")" class="btn btn-secondary">Back to List</a>
        </p>
    </div>
</div>
</body>