@using ProjectManagementMVC.Controllers
@using ProjectManagement.Shared.Extensions
@model ProjectManagementMVC.ViewModels.AssignProjectEditVM

@{
    ViewBag.Title = "Assign Project";
}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Lists.css">
    <link rel="stylesheet" href="~/css/ProjectCss/Assign.css">
</head>

<div class="container">
    <h2 class="text-center assign">Assign Project</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group row">
            @Html.LabelFor(model => model.ProjectId, htmlAttributes: new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ProjectId, Model.ProjectList, "Choose a Project...",
                    new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProjectId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <div class="offset-md-2 col-md-10">
                <button type="submit" class="btn btn-primary">Assign Project</button>
                <a href="@Url.Action("List")" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    }
</div>