@using ProjectManagementMVC.Controllers
@using ProjectManagement.Shared.Extensions
@model ProjectManagementMVC.ViewModels.CompleteProjectEditVM

@{
    ViewBag.Title = "Complete Project";
}

<link rel="stylesheet" href="~/css/Lists.css">

<body>
    <h2>Complete Project</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true)


            <div class="form-group">
                @Html.LabelFor(model => model.ProjectId, new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    @Html.DropDownListFor(model => model.ProjectId, Model.ProjectList, "Choose a Project...",
                             new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ProjectId)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Complete project" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Back to List", "List")
    </div>
</body>