@model ProjectManagementMVC.ViewModels.ProjectDetailsVM

@{
    ViewBag.Title = "Details";
}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Lists.css">
    <link rel="stylesheet" href="~/css/Background2.css">
</head>

<body class="bg-light">
    <div class="container mt-5">
        <h2>Details</h2>
        <div>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">Name:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>

                <dt class="col-sm-3">Start Date:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.StartDate)</dd>

                <dt class="col-sm-3">Description:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Description)</dd>

                <dt class="col-sm-3">Tasks:</dt>
                <dd class="col-sm-9">
                    @if (Model.Tasks != null && Model.Tasks.Any())
                    {
                        <table class="table table-striped table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Task Name</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var task in Model.Tasks)
                                {
                                    <tr class="table-light">
                                        <td>@Html.DisplayFor(m => task.Name)</td>
                                        <td>@Html.DisplayFor(m => task.Description)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>No tasks assigned to this project.</p>
                    }
                </dd>

                <dt class="col-sm-3">End Date:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.EndDate)</dd>

                <dt class="col-sm-3">Is Completed:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.IsCompleted)</dd>
            </dl>
            <p>
                @if (!User.IsInRole("Employee"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
                }
                <a href="@Url.Action("List")" class="btn btn-secondary">Back to List</a>
            </p>
        </div>
    </div>
</body>
