@using ProjectManagementMVC.Controllers
@using ProjectManagement.Shared.Extensions
@model ProjectManagementMVC.ViewModels.ReportProjectEditVM

@{
    ViewBag.Title = "Report Project";
}
<link rel="stylesheet" href="~/css/Lists.css">

<body>
<h2>Report project</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true)


        <div class="form-group">
            @Html.LabelFor(model => model.ProjectId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DropDownListFor(model => model.ProjectId, Model.Projects, "Choose a Project...",
                         new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProjectId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReportId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DropDownListFor(model => model.ReportId, Model.Reports, "Choose a Report...",
                         new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ReportId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Report project" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "List")
</div>
</body>